*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(55, 58, 58);
    color: #fff;
}
.container{
    margin: 15%;
    width: 95%;
    max-width: 800px;
}
.display{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
    background: #fff;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
    border-radius: 8px;


}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 10px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 25px;
}
.container button img{
    width: 30px;
    margin-right: 12px;

}
.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 25px;
    font-weight: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 25px;
    border-radius: 8px;
    cursor: pointer;
}